<div id="feed_title" class="col-md-2">
    <div id="feed_meta">
        <strong>Development</strong> &nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <br/>

    <div id="feed_meta">
        <strong>Technology</strong> &nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <br/>

    <div id="feed_meta">
        <strong>Humour</strong>&nbsp;<span class="glyphicon glyphicon-chevron-down"></span>

        <div id="feed_1">&nbsp;&nbsp;Feed 1</div>
        <div id="feed_2">&nbsp;&nbsp;Feed 2</div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="btn-group dropup">
        <button type="button" class="btn btn-default">Options</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Subscribe</a></li>
             <li><a href="#">Remove Feeds</a></li>
            <li><a href="#">Reading Room</a></li>
            <li><a href="#">Bookmarks</a></li>
            <li><a href="#">Read Later</a></li>
            <li class="divider"></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">All</a></li>
        </ul>
    </div>
</div>
