<div id="all_feed_entries" class="col-md-10">
    <div class="row">
        <h4> You are reading articles from {{ feed_label }} - {{ list_of_feeds_count }}</h4>
    </div>
    <div id="feed_entries">
        {% for feed in feeds_list %}
            <div id="blog_entry_1" class="row" style="border-bottom:1px solid; padding: 20px 0 10px 0;">
                <div id="blog_entry_header">
                    <div class="col-md-8">
                        <a href="{{feed.link}}" target="_blank">{{ feed.title }}</a>
                    </div>
                    <div class="col-md-2">
                        {{ feed.published_entry }}
                    </div>
                </div>
                <br/>
                <div id="blog_description">
                    {{ feed.description|safe }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>