<div id="feed_title" class="col-md-2">
    {% for feeds in feeds_list_with_label.items() %}
    <div id="feed_meta">
        <strong>{{ feeds.0 }} </strong>&nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
        {% for uri in feeds.1 %}
            <div>
                &nbsp;&nbsp;<a class='feedlink' data-url="{{uri.1}}" data-label="{{ uri.0 }}">{{ uri.0 }}</a>
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="btn-group dropup">
        <button type="button" class="btn btn-default">Options</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Subscribe</a></li>
             <li><a href="#">Remove Feeds</a></li>
            <li><a href="#">Reading Room</a></li>
            <li><a href="#">Bookmarks</a></li>
            <li><a href="#">Read Later</a></li>
            <li class="divider"></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">All</a></li>
        </ul>
    </div>
</div>
