{%block left_nav%}
<div class="accordion" id="accordion2">
{%for ent in withoutTags%}
    <div id="collapse{{loop.index}}" class="accordion-body collapse in">
	 <div id="blog-entries" style="margin-bottom:5px;">
               <a href="#" onClick="show_feed('{{ent.mongo_feed_id}}','{{ent.mongo_feed_id}}')">{{ ent.feed_title|truncate(length=20)}}</a>
	 </div>
   </div>
{%endfor%}
{%for eachtag in uniqueTags %}
  <div class="accordion-group">
    {%if eachtag %}
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{loop.index}}">{{ eachtag.tag|truncate(length=20) }}&nbsp;&nbsp;&nbsp<i class="icon-plus"></i>
      </a>
    </div>
    <div id="collapse{{loop.index}}" class="accordion-body collapse">
      <div class="accordion-inner">
         {%for ent in eachtag.feeds %}
	 <div id="blog-entries" style="margin-bottom:5px;">
               <a href="#" onClick="show_feed('{{ent.mongo_feed_id}}','{{ent.mongo_feed_id}}')">{{ ent.feed_title|truncate(length=20)}}</a>
	 </div>
         {%endfor%}
      </div>
    </div>
    {%endif%}
  </div>
{%endfor%}
</div>
{%endblock%}
