<!doctype html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/hqfeeds.css') }}">
</head>
<body class="fill">
<div class="container-fluid" style="margin-bottom: 15px;">
    <div class="span12 row-fluid">
        {%block top_nav%}
        {%include "hqfeeds/inner/top_nav.html"%}
        {%endblock%}
    </div>
</div>
<div class="fill">
    <div class="container-fluid no-overflow">
        <div class="row-fluid max-height">
            <div class="span2 scrollable">
                <div class="pad15-top">
                    {%block left_nav%}
                    {%include "opml_info.html"%}
                    {%endblock%}
                </div>
            </div>
            <div class="span10 scrollable">
                <div class="pad10-top">
                    <div id="right-nav">
                        <div id="feed_content">
                            {%block right_nav%}
                            {%endblock%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    {%include 'hqfeeds/inner/inner_footer.html'%}
</div>
    <script type="text/javascript" src="{{ url_for('static', filename='services.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='hqevents.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/feed_parser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>
